body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(background1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: gold;
}

#text {
    font-style: italic;
}

#info-btn {
    background-color: rgb(113, 200, 251);
}

button {
    color: white;
    background-color: rgb(200, 175, 37);
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
    width: 5em;
    height: 3em;
    margin: 0.25em;
}

#newCard {
    background-color: green;
}

#cashOut {
    background-color: red;
}

#win-div, #loss-div, #cashout-div {
    width: 10%;
    display: inline-block;
}

#rules {
    border: 0.5em solid white;
    color: white;
    font-size: 1em;
    font-weight: bold;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding: 1em 1em; */
}